# Visual Studio Code
.vscode/
.history/
*.vsix
.history
.ionide
.vscode-test

# Node
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
web_modules/
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
.yarn-integrity
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.cache
.parcel-cache
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.webpack/

# VitePress
docs/.vitepress/cache
docs/.vitepress/dist

# Others
.DS_Store
coverage/
.idea/
temp/
uploads/
*.swp
*.swo
src/shared/assets/fonts/.gitkeep